name: Run Gradle on PRs
on: push
jobs:
  gradle:
    runs-on: ubuntu-latest
    services:
      hub:
        image: selenium/hub:3.141.59-gold
      firefox:
        image: selenium/node-firefox:3.141.59-gold
        env:
          HUB_HOST: hub
          HUB_PORT: 4444
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: eskatos/gradle-command-action@v1
        env:
          JAVA_OPTS: -Dselenide.remote=http://hub:4444/wd/hub -Dremote=http://hub:4444/wd/hub -Dselenide.browser=firefox -Dbrowser=firefox
        with:
          arguments: testCI